/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientFlow {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -200;
  }
}

svg text {
  stroke: url(#gradient);
  stroke-width: 2px;
  stroke-dasharray: 100;
  animation: gradientFlow 3s linear infinite;
}

